.flexbox-parent{
    border: 2px solid red;
    /*height: 90vh;*/
    display: flex;
    justify-content: center;
}
.flex-container{
    width: 100%;
    border: 2px solid #d9c2c2;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-content: space-between;*/
    flex-direction: row;
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    background-color: #ff3025;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*align-items: start;*/
    /*justify-content: start;*/
    /*align-items: flex-end;*/
    /*justify-content: flex-end;*/
    /*align-items: flex-end;*/
    /*justify-content: center;*/
    /*align-items: flex-end;*/
    /*align-items: start;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*justify-content: flex-end;*/


}
.flex-item{
  background-color: #394242;
    /*width: 20%;*/
    width: 160px;
    height: 170px;
    padding: 10px;
    margin: 10px;
    color: wheat;
    /*min-width: 170px;*/
}
.flex-item h6{
    padding: 0;
    margin: 0;
}
@media(max-width: 550px) {
    .flex-container{
        justify-content: center;
    }
    .flex-item{
        width: 90%;
    }
}
